.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid grey;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.equation,
.nextFunction {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.equationText {
  width: 187px;
  height: 27px;
}

.selectInput {
  width: 195px;
  height: 33px;
}

.connectionsContainer {
  display: flex;
  justify-content: space-between;
}
