.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  padding-bottom: 4px;
  border-radius: 8px;
  border: 1px solid grey;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.equation,
.nextFunction {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.equationText {
  width: 187px;
  height: 27px;
}

.selectInput {
  width: 195px;
  height: 33px;
}

.connectionsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  height: 44px;
  align-items: center;
  font-family: Inter;
  font-size: 10px;
  font-weight: 500;
  line-height: 12.1px;
  text-align: left;
}

.labelContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  color: #a5a5a5;
  margin-left: 6px;
}

.icon-container {
  display: grid;
  grid-template-columns: repeat(3, 4px); /* 3 columns */
  row-gap: 1px;
  column-gap: 2px; /* Gap between dots */
  width: 8px;
  height: 8px;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: gray;
  border-radius: 50%;
}
