.connectionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-circle {
  width: 12px; /* Set the size of the outer circle */
  height: 12px;
  background-color: lightblue; /* Color of the outer circle */
  border-radius: 50%; /* Creates the round shape */
  position: relative; /* Needed for the inner circle to position itself */
  display: flex; /* To center the inner circle */
  justify-content: center;
  align-items: center;
}

/* Inner Circle */
.inner-circle {
  width: 8px; /* Set the size of the inner circle */
  height: 8px;
  background-color: blue; /* Color of the inner circle */
  border-radius: 50%; /* Creates the round shape */
}

.reverseItems {
  flex-direction: row-reverse;
}
